.hide {
  /* max-height: 0 !important; */
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.dropdown{
  border: 0.1em solid black;
  width: 10em;
  margin-bottom: 1em;
}

.dropdown .title{
  margin: .3em .3em .3em .3em;	
  width: 100%;
}

.dropdown .title .fa-angle-right{
  float: right;
  margin-right: .7em;
  transition: transform .3s;
}

.dropdown .season-menu{
  transition: max-height .5s ease-out;
  max-height: 20em;
  overflow: hidden;
}

.dropdown .season-menu .option{
  margin: .3em .3em .3em .3em;
  margin-top: 0.3em;
}

.dropdown .season-menu .option:hover{
  background: rgba(0,0,0,0.2);
}

.dropdown .team-menu{
  transition: max-height .5s ease-out;
  max-height: 13em;
  overflow: scroll;
  position: relative;
}

.dropdown .team-menu .option{
  margin: .3em .3em .3em .3em;
  margin-top: 0.3em;
}

.dropdown .team-menu .option:hover{
  background: rgba(0,0,0,0.2);
}

.pointerCursor:hover{
  cursor: pointer;
}

.rotate-90{
  transform: rotate(90deg);
}

/* .title, .menu {
  display: flex;
  justify-content: center;
} */
