.current-player-name-container {
  padding: 25px;
}

.current-player-name {
  font-family: var(--font);
  font-size: 20px;

}

#select-season-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
}

#select-season-container > div {
  font-family: var(--font);
  padding: 5px;
  font-size: 18px;
}

#select-team-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: var(--font);
}

#select-team-container > div {
  font-family: var(--font);
  padding: 5px;
  font-size: 18px;
}

.select-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}