.loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 1);
  background-image: url("../../spin.svg");
  background-repeat: no-repeat;
  background-position: center;
}