#open-modal {
  padding: 20px;
  background: var(--bg-color);
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
  border-radius: 8px;
  color: white;
  font-family: var(--font);
}

#open-modal:hover {
  color: black;
  background: lightgray;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
  border-radius: 8px;
  color: white;
  font-family: var(--font);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  overflow: auto;
}

.modal-content {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-color: var(--sub-bg-color);
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 35%;
  min-height: 35%;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.5);
  border: 2px solid black;
  border-radius: 8px;
}


#modal-content-loaded {
  display: flex;
}

#modal-content-loaded > img {
  display: block;
  width: 20%;
  height: 100%;
  margin-right: 40px;
}

#modal-content-loaded > div {
  padding: 10px;
}

.modal-content h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.modal-content li {
  margin: 20px 0;
  max-height: 25px;
  text-align: left;
  font-size: 20px;
  font-family: var(--font);
  text-decoration: none;
}

.modal-content img {
  display: inline;
  height: 100px;
  width: 100px;
}

#modal-close {
  color: #aaa;
  font-weight: bold;
  font-size: 35px;
  float: right;
}

#modal-close:hover{
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.modal-image {
  display: flex;
  justify-content: center;
  align-items: center;
}