g {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

  -webkit-animation: fadein 0.3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.3s; /* Firefox < 16 */
      -ms-animation: fadein 0.3s; /* Internet Explorer */
       -o-animation: fadein 0.3s; /* Opera < 12.1 */
          animation: fadein 0.3s;
}
